/* project.css */

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: linear-gradient(to top, grey, rgb(3, 29, 155));
  height: 100vh;
  color: white;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  position: relative;
  max-width: 1600px;
}


.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-button.left {
  left: 0; /* adjust based on your layout */
}

.carousel-button.right {
  right: 0; /* adjust based on your layout */
}

.persons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* optional spacing between cards */
}

.carousel-image {
  height: 30vh;
  width: 30vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-image:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease;
  cursor: pointer;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem; /* Increased font size */
}

p {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.25rem; /* Increased font size */
}